include ./container
include ../../oracles/mixins/oracle-table
include ../../oracles/mixins/oracle-roll-btn

mixin movePreviewFactory(move, move_key, options)
  +container(move, move_key, options)
    .rules-text !{move.text}
    if move.oracles
      .move-oracle-container
        - let btnText = `Roll the ${move.name} oracle`
        //- var moveOracle = oracles.find(group => { return group.Name === 'Moves' }).Oracles.find(oracle => { return oracle.Name === move.name })
        each oracle_data, oracle_name in move.oracles
          if oracle_data.oracle_type == "table_text"
            - console.log("ORACLE DEBUG: ", oracle_name)
            +oracleSingleButton(oracle_data, oracle_name, btnText)
            +oracleTable(oracle_data)
          else 
            - console.log("TODO: oracle_type=",oracle_data.oracle_type)
          // TODO: Support more complex oracles
          //- else if moveOracle.Oracles
          //-   +oracleMultiBtn(moveOracle)
          //-   +oracleMultiSubTable(moveOracle, btnText)

mixin movePreview(move, move_key, options)
  - console.log("============DEBUG: MOVE:", move_key)
  if options.no_title
    div
  else
    div.move-title.move-preview=move.name
      if move.roll_type == "progress_roll"
        span.move-progress-label='Progress Move'
  - var statCheck = false
  for condition in move.trigger.conditions
    if condition.roll_options
      for opt in condition.roll_options
        if opt.using == "stat"
          - statCheck = true
        else
          - console.log("TODO: ", move_key, " Stat.using=",opt.using)
  if move.roll_type == "progress_roll"
    +rollLabel
      +progressRoll(move, 'hide-element')
  else if statCheck
    +rollLabel
      +movesRoll(move, 'hide-element')
  .move-description
    block
  .oracle-footer.move-page-footer=move._source.page

mixin container(move, move_key, options = false)
  - const moveShortId = move_key.replace(/_/g, "-")
  - const moveId = `move-${moveShortId}`
  if options.visibility
    div.move-visible.surface
      +movePreview(move, move_key, options)
        block
  else
    input(type='radio' name='attr_move_preview' class=`${moveId} hide-element` value=move.name)
    div(class=`${moveId} surface showhide`)
      +movePreview(move, move_key, options)
        block