include ./mixins/oracle-table
include ./mixins/oracle-roll-btn

mixin oraclePreviewToggle(type, name, id)
  label.toggle-btn.oracle-btn
    input.hide-element.btn-input(
      type='radio'
      title=`@{oracle_${type}_button}`
      name=`attr_oracle_${type}_button`
      value=id
    )
    .btn-content.oracle-name=header.replace(/ - /i, ": ")

// Called from pages/character/oracles
// This seems to be for when there are multiple oracles in one (ie. pick a table/column) Which is probalby oraclecollections now
mixin oracleRollGroup(group)
  .oracle-box.surface
    .oracle-title=group.name
    - console.log ("RollGroup DEBUG: ",group.name)
    each oracle, oracle_id in group.contents
      - const header = `${group.name} - ${oracle.name}`
      .oracle
        // TODO: May be a better check?
        if (oracle.oracle_type == "table_text") 
          - let buttonLabel = oracle.name
          +oracleSubOraclesListGroupItem(oracle_id, buttonLabel, oracle.rows)
        else
          - console.log("Warning OracleRollGroup not table_text:", oracle.oracle_type)
          +oracleRollBtn(oracle_id, oracle.name)
    // TODO: Is this still relevant?  This maybe for subcollections??
    //- if group.Categories
    //-   each category in group.Categories
    //-     - const header = `${group.Name} - ${category.Name}`
    //-     .oracle
    //-       if (category.Oracles)
    //-         - let buttonLabel = category.Name
    //-         +oracleSubOraclesListGroupItem(category.$id, buttonLabel, category.Oracles)
    //-       else
    //-         +oracleRollBtn(category.$id, category.Name)

    // Previously commented out
    //- if group.Subcategories
    //-   each subCategory in group.Subcategories
    //-     - const buttonLabel = subCategory['Display name']||subCategory.Name
    //-     .oracle.oracle-subcategory
    //-       +oracleSubOraclesListGroupItem(subCategory.id, buttonLabel, subCategory.Oracles)

mixin oraclePreview(oracle, oracle_id, groupName)
  input(class=`${oracle_id} hide-element` type='radio' name=`attr_oracle_preview` value=oracle_id)
  div(class=`${oracle_id} showhide oracle-table-preview surface` id=oracle_id)
    - let nameString = `${groupName}: ${oracle.name}`
    .oracle-title=nameString
    if oracle.rows
      +oracleTable(oracle)
    //- else if oracle.Tables
    //-   +oracleMultiSubTable(oracle)
    else if oracle.Oracles
      if (oracle.Description)
        .oracle-description!=oracle.Description
      each subCatOracle, index in oracle.Oracles
        if subCatOracle.Table
          +oracleSubTable(subCatOracle)
        else if subCatOracle.Tables
          +oracleMultiSubTable(subCatOracle, true)